<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.module.text.mapper.TextBiaoMapper">
  <resultMap id="BaseResultMap" type="com.example.app.module.text.entity.TextBiao">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter_description" jdbcType="VARCHAR" property="parameterDescription" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="schema" jdbcType="VARCHAR" property="schema" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `parameter_name`, parameter_description, `type`, `schema`
  </sql>
  <select id="selectByExample" parameterType="com.example.app.module.text.entity.TextBiaoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from text_biao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from text_biao
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from text_biao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.app.module.text.entity.TextBiaoExample">
    delete from text_biao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.app.module.text.entity.TextBiao" useGeneratedKeys="true">
    insert into text_biao (`parameter_name`, parameter_description, 
      `type`, `schema`)
    values (#{parameterName,jdbcType=VARCHAR}, #{parameterDescription,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{schema,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.app.module.text.entity.TextBiao" useGeneratedKeys="true">
    insert into text_biao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parameterName != null">
        `parameter_name`,
      </if>
      <if test="parameterDescription != null">
        parameter_description,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="schema != null">
        `schema`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parameterName != null">
        #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterDescription != null">
        #{parameterDescription,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="schema != null">
        #{schema,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.app.module.text.entity.TextBiaoExample" resultType="java.lang.Long">
    select count(*) from text_biao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update text_biao
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parameterName != null">
        `parameter_name` = #{record.parameterName,jdbcType=VARCHAR},
      </if>
      <if test="record.parameterDescription != null">
        parameter_description = #{record.parameterDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.schema != null">
        `schema` = #{record.schema,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update text_biao
    set id = #{record.id,jdbcType=INTEGER},
      `parameter_name` = #{record.parameterName,jdbcType=VARCHAR},
      parameter_description = #{record.parameterDescription,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      `schema` = #{record.schema,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.app.module.text.entity.TextBiao">
    update text_biao
    <set>
      <if test="parameterName != null">
        `parameter_name` = #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameterDescription != null">
        parameter_description = #{parameterDescription,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="schema != null">
        `schema` = #{schema,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.app.module.text.entity.TextBiao">
    update text_biao
    set `parameter_name` = #{parameterName,jdbcType=VARCHAR},
      parameter_description = #{parameterDescription,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `schema` = #{schema,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>