input{
    border: none;
    padding-bottom: 15px;
    font-size: 20px;
    color: #3b3b3a;
    border-bottom: 1px solid #ebebeb;
    width: 80%;
}
input::-webkit-input-placeholder{
    color: #bebebd;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #8e8e8d;
    font-size:17px ;
    font-weight: 100;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:red;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:red;
}
.indexLogin{
    background-color: white;
    width: 360px;
    display: flex;
    color: #444;
    font-size: 16px;
    flex-direction: column;
    margin:90px auto;
    border-radius: 6px;
}
.index-head{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}
.index-head text{
    margin: 15px 15px 0;
    padding-bottom: 15px ;
    cursor:pointer;
}
.index-em{
    margin: 30px 0 0 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.title-text{
    font-size: 25px;
    font-weight: 600;
}

