<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="body" id="contentDiv" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" onmouseover="getTop().stopPropagation(event);" onclick="getTop().preSwapLink(event, 'html', 'ZC3011-Wdak2nnm5HI9ZXkkQVYLL98');">    <div id="qm_con_body"><div class="qmbox qm_con_body_content qqmail_webmail_only" id="mailContentContainer">


    <style type="text/css">
        .qmbox body{ margin:0 auto; padding:0; font-family:Microsoft Yahei,Tahoma,Arial; color:#333333;background-color:#fff; font-size:12px;}
        .qmbox a{color:#00a2ca; line-height:22px; text-decoration:none;}
        .qmbox a:hover{text-decoration:underline;color:#00a2ca;}
        .qmbox td{font-family:'Microsoft YaHei';}
    </style>

    <table width="800" align="center" style="font-family:'Microsoft YaHei';" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
            <td>
                <table width="800" height="40" align="center" border="0" cellspacing="0" cellpadding="0"></table>
            </td>
        </tr>

        <tr>
            <td>

                <table width="800" height="48" align="center" style="font-family:'Microsoft YaHei';" bgcolor="#373d41" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>

                    </tr>
                    </tbody></table>

            </td>
        </tr>

        <tr>
            <td>

                <table width="800" align="left" style=" border:1px solid #edecec; border-top:none; border-bottom:none; padding:0 20px;font-size:14px;color:#333333;" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td style="font-size:14px;">

                            <p style="font-family:'Microsoft YaHei';font-size:14px;margin-top:20px;margin-bottom:20px;">
                                尊敬的用户：您好！
                            </p>

                            <p style="font-family:'Microsoft YaHei';font-size:14px;">
                                &nbsp; &nbsp; &nbsp; 您的验证码为:&nbsp; &nbsp; <b th:text="*{code}"></b>
                            </p>

                            <p style="font-family:'Microsoft YaHei';font-size:14px;">
                                &nbsp; &nbsp; &nbsp;验证码5分钟之内有效,请尽快认证.
                            </p>


                            <p style="text-align:left;font-family:'Microsoft YaHei';font-size:14px;">
                                &nbsp; &nbsp; &nbsp; 如您对此通知还有疑问，可查阅相关<span style="font-size:16px;"><a href="https://www.icann.org/resources/pages/faqs-2017-09-25-zh" target="_blank" rel="noopener">常见问题与解答</a></span>。
                            </p>

                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="14" style="padding-bottom:16px; border-bottom:1px dashed #e5e5e5;font-family:'Microsoft YaHei';" colspan="2">鸡办云计算有限公司</td>
                    </tr>
                    <tr>
                        <td width="720" height="14" style="padding:8px 0 28px;color:#999999; font-size:12px;font-family:'Microsoft YaHei';" colspan="2">此为系统邮件请勿回复</td>
                    </tr>
                    </tbody></table>

            </td>
        </tr>


        <tr>
            <td>
                <table width="100%" align="center" bgcolor="#fff" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td>
                            <p style="line-height: 22px; font-family: 'Microsoft YaHei'; font-size: 12px; color: #999; text-align: center;">

                            </p>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>

        </tbody></table>
    <img src="http://ac.mmstat.com/aliyun.12.1?logtype=4&amp;type=email&amp;msgid=8180119081100352135&amp;areaid=cn&amp;siteId=cn">

    <style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}</style></div></div><!-- --><style>#mailContentContainer .txt {height:auto;}</style>  </div>
</body>
</html>