<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head lang="en"  th:fragment="static">
    <meta charset="UTF-8">
    <title>登录/注册</title>
    <link rel="alternate icon" type="image/png" th:href="@{/i/chicken.png}">
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/js/login.js}"></script>
</head>
<style type="text/css">
    body{

        background-size:100% 100%;
        background: url("/img/bz.jpg") no-repeat fixed;
    }
    .body-head{
        display: flex;
        flex-direction: column;
    }
    .img-xh{
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
</style>
<body>


<div class="body-head">

    <div class="indexLogin">
        <img th:src="@{/img/tgu.jpg}" class="img-xh">
        <div class="index-head">  <text id="head-textPas">免密码登录</text> <text id="head-textLg">账户登录</text><text id="head-textEm">邮箱注册</text>   </div>
            <div class="index-em emailTag"><div class="am-icon-credit-card" style="margin-right: 18px;"></div> <input class="emailLog" type="email" placeholder="请输入邮箱"></div>

            <div class="index-em emailTag"><button type="button" class="am-btn am-btn-default am-btn-xs am-round sendCode " id="login"  style="margin-right: 18px;">验证邮箱</button> <input id="code"  placeholder="请输入验证码" style="width:150px "></div>

        <div id="noPassLogin" >
            <div style="text-align: center;padding-top: 10px" class="message"></div>
            <div style="margin: 0 auto;width: 25px"><i class="am-icon-spinner am-icon-spin" ></i></div>
            <div style="flex-direction: row;display: flex;padding-top: 10px">
                <button type="button" class="am-btn  am-btn-success am-btn-lg" id="NoPasBut" style="width:50%">登录</button>
                <button type="button" class="am-btn  am-btn-danger am-btn-lg showIndex " style="width:50%">返回首页</button>
            </div>
        </div>


        <div id="register" style="display: none">

            <div style="text-align: center;padding-top: 10px" class="message"></div>

            <div style="margin: 0 auto;width: 25px"><i class="am-icon-spinner am-icon-spin" ></i></div>

            <div class="index-em " ><div class="am-icon-angle-right " style="margin-right: 18px;"></div> <input id="userName-re" class="reShow" hidden="hidden" placeholder="请输入用户名"></div>

            <div class="index-em "><div class="am-icon-angle-right " style="margin-right: 18px;"  ></div> <input id="password-re" class="reShow" hidden="hidden" type="password" placeholder="请输入密码"></div>

            <div class="index-em " ><div class="am-icon-angle-right "  style="margin-right: 18px;" ></div> <input id="passwordAg-re" class="reShow"  hidden="hidden" type="password" placeholder="确认密码"></div>

            <div style="flex-direction: row;display: flex;padding-top: 10px">
                <button type="button" class="am-btn  am-btn-success am-btn-lg  " id="resBut" style="width:50%">注册</button>
                <button type="button" class="am-btn  am-btn-danger am-btn-lg showIndex " style="width:50%">返回首页</button>
            </div>

        </div>

        <div id="passwordLogin"  style="display: none">
            <div class="index-em"><div class="am-icon-angle-right" style="margin-right: 18px;"></div> <input id="userName-us"class="emailLog" placeholder="请输入用户名"></div>
            <div class="index-em"><div class="am-icon-shield" style="margin-right: 18px;"></div> <input id="password-us" class="emailLog" type="password" placeholder="请输入密码"></div>
            <div style="text-align: center;padding-top: 10px" class="message"></div>
            <div style="margin: 0 auto;width: 25px"><i class="am-icon-spinner am-icon-spin" ></i></div>
            <div style="flex-direction: row;display: flex;padding-top: 10px">
                <button type="button" class="am-btn  am-btn-success am-btn-lg"  id="LoginBut" style="width:50%">登录</button>
                <button type="button" class="am-btn  am-btn-danger am-btn-lg  showIndex" style="width:50%">返回首页</button>
            </div>
        </div>
        <div style=" border-radius: 6px;color: #454544;background-color: #e7e7e6;padding: 10px;font-size: 12px">登录/注册即代表您已同意 <a href="/public/homePage"><text style="color: #0e93d7">《鸡办协议》</text></a> 和<a href="/public/homePage"><text style="color: #0e93d7">《隐私保护措施》</text></a></div>

    </div>
    <div class="am-alert am-alert-warning" data-am-alert style="width: 330px;margin: 0 auto;">
        <button type="button" class="am-close">&times;</button>
        <div class="am-icon-book "></div>
        <p>不经意的瞬间，是我特意的偶然</p>
    </div>
</div>

</body>
</html>