<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.module.login.mapper.LoginEmailMapper">
  <resultMap id="BaseResultMap" type="com.example.app.module.login.entity.LoginEmail">
    <id column="email" jdbcType="VARCHAR" property="email" />
    <result column="re_code" jdbcType="INTEGER" property="reCode" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="vfc_code" jdbcType="VARCHAR" property="vfcCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    email, re_code, creat_time, vfc_code
  </sql>
  <select id="selectByExample" parameterType="com.example.app.module.login.entity.LoginEmailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from login_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_email
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from login_email
    where email = #{email,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.app.module.login.entity.LoginEmailExample">
    delete from login_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="email" keyProperty="email" parameterType="com.example.app.module.login.entity.LoginEmail" useGeneratedKeys="true">
    insert into login_email (email,re_code, creat_time, vfc_code
      )
    values (#{email,jdbcType=VARCHAR},#{reCode,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, #{vfcCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="email" keyProperty="email" parameterType="com.example.app.module.login.entity.LoginEmail" useGeneratedKeys="true">
    insert into login_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reCode != null">
        re_code,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="vfcCode != null">
        vfc_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reCode != null">
        #{reCode,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vfcCode != null">
        #{vfcCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.app.module.login.entity.LoginEmailExample" resultType="java.lang.Long">
    select count(*) from login_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update login_email
    <set>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.reCode != null">
        re_code = #{record.reCode,jdbcType=INTEGER},
      </if>
      <if test="record.creatTime != null">
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vfcCode != null">
        vfc_code = #{record.vfcCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update login_email
    set email = #{record.email,jdbcType=VARCHAR},
      re_code = #{record.reCode,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      vfc_code = #{record.vfcCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.app.module.login.entity.LoginEmail">
    update login_email
    <set>
      <if test="reCode != null">
        re_code = #{reCode,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vfcCode != null">
        vfc_code = #{vfcCode,jdbcType=VARCHAR},
      </if>
    </set>
    where email = #{email,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.app.module.login.entity.LoginEmail">
    update login_email
    set re_code = #{reCode,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      vfc_code = #{vfcCode,jdbcType=VARCHAR}
    where email = #{email,jdbcType=VARCHAR}
  </update>
</mapper>